<!DOCTYPE html>
<html lang="en">
<head>
    <% include head%>
    <title>Blog</title>
</head>
<body>
    <% include header%>
    <div class="body-content container" style="text-align: center;">
        <h2>Upcoming feature !!!!!</h2>
        <img src="../images/maintain.gif" alt="maintaining">
    </div>
    <% include footer%>
    <% include takeNote %>
    <% include script %>
    <script src="javascriptClient/checkLogin.js"></script>
    <script src="javascriptClient/takenote.js"></script>
</body>
</html>