<div class="mt-5 pt-5 pb-5 footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-xs-12 about-company">
                <img src="../images/eth-icon.png" id="footer-logo" alt="eth-logo">
                <a id="footer-title" href="/">ETH-LOVER</a>
            </div>
            <div class="col-lg-3 col-xs-12 links">
                <h4 class="mt-lg-0 mt-sm-3">Main Content</h4>
                <ul class="m-0 p-0">
                    <li><a href="tokens">Tokens</a></li>
                    <li><a href="note">Notes</a></li>
                    <li><a href="blog">Blog</a></li>
                    <li><a href="aboutus">About us</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            <div class="col-lg-4 col-xs-12 location">
                <h4 class="mt-lg-0 mt-sm-4">George Brown College</h4>
                <p>Full Stack Development II</p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col copyright">
                <p class=""><small class="text-white-50">Powered by Ethplorer.io.</small></p>
            </div>
        </div>
    </div>
</div>