<header class="header py-3 row flex-nowrap justify-content-between align-items-center">
    <div class="col-lg-4 pt-1">

    </div>
    <div class="col-lg-4 text-center">
        <img src="../images/eth-icon.png" id="header-logo" alt="eth-logo">
        <a id="header-title" href="/">ETH-LOVER</a>
    </div>
    <div class="col-lg-4 login-part">
        <a class="btn btn-md btn-outline-secondary" href="login" id="login-btn"><span>Login</span></a>
    </div>
</header>
<div class="nav-scroller py-1 pb-1">
    <nav class="nav d-flex justify-content-between">
        <a href="#"></a>
        <a href="#"></a>
        <a class="p-2 text-muted" href="tokens">Tokens</a>
        <a class="p-2 text-muted" href="note">Notes</a>
        <a class="p-2 text-muted" href="blog">Blog</a>
        <a class="p-2 text-muted" href="aboutus">About Us</a>
        <a class="p-2 text-muted" href="#">Contact</a>
        <a href="#"></a>
        <a href="#"></a>
    </nav>
</div>